body{
    background-color: #214462;
    color: #fff;
}

#clock{
    text-align: center;
    width: 50%;
    position: absolute;
    left: 25%;
    top:20%;

   
}

#clock h2 {
   
        font-family: "Bebas Neue", sans-serif;
        font-weight:100px;
        font-size: 100px;
     
      
}
.clock-container{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    align-content: center;

}

.clock-items{
    width: 32%;
    background-color: #fff;
    color:black;
    border-radius: 10px;
    margin-right: 3% ;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 80px;

}

#date{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight:100px;

}